<div class="wrapper">
    <h1>About Me</h1>
    <h2>Hi! My name is HUAN DOAN</h2>
    <div class="intro">
        As a dedicated and passionate learner, with a deep curiosity for the beauty of code that powers great applications. I am
        excited to pursue a career in fullstack development to combine my creativity and technical skills in building impactful
        applications. Eager to solve problems and continuously grow, I aim to develop the skills needed to create innovative,
        user-friendly solutions that make a real impact.
    </div>
</div>