<div class="wrapper">
    <h1>My Experience</h1>
<div class="job">
    <h3>Angular Developer – TechNova Inc</h3>
    <p><strong>2021 - Present</strong></p>
    <p>Developed and led frontend architecture for high-traffic enterprise applications using Angular and NgRx.</p>
</div>

<div class="job">
    <h3>Frontend Developer – CodeCraft</h3>
    <p><strong>2018 - 2021</strong></p>
    <p>Built dynamic UI components, improved performance by 30%, and collaborated closely with backend teams.</p>
</div>
</div>